{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Acerca de mi
{% endblock titulo %}

{% block contenido %}
    <section class="page-section clearfix">
        <div class="container">
            <div>
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span style="color: rgb(0, 0, 0)" class="section-heading-lower">Sobre mi</span>
                    </h2>
                    <p style="color: rgb(0, 0, 0)" class="mb-3">Mi nombre es Waldo Gaspari, tengo 30 años y soy Analista de Sistemas. Estoy terminando los estudios para poder recibirme de Ingeniero en Sistemas. Estudio en la Universidad Nacional de Tres de Febrero (UNTREF).</p>
                    <p style="color: rgb(0, 0, 0)" class="mb-3">Desde adolescente me interesó el mundo de la tecnología e innovación por eso decidí seguir por ese rumbo. He realizado cursos de programación aparte ya que me interesa mucho este campo. Eso me lleva a conocer varios lenguajes de programación como Java, Ruby, C, C++, etcétera.</p>
                    <p style="color: rgb(0, 0, 0)" class="mb-3">En esta oportunidad, me decidí por realizar este proyecto de Estética Automotriz que en estos últimos años esta creciendo mucho. Es una página de estilo Wiki para no solo conocer sobre este rubro sino también poder aportar todo tipo de conocimiento sobre el tema y asi generar una gran comunidad. </p>
                    <p style="color: rgb(0, 0, 0)" class="mb-3">Si quieren conocer más sobre mi dejo a continuación los links a mi Linkedin y a mi Github:</p>
                    <a
                        href="https://www.linkedin.com/in/waldo-ezequiel-gaspari"
                        class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1.75rem;"
                        ><i class="fa-brands fa-linkedin" title="Linkedin"></i>
                    </a>
                    <a
                        href="https://github.com/WaldoGaspari"
                        class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1.75rem;"
                        ><i class="fa-brands fa-github" title="Github"></i>
                    </a>
                    <br>
                    <p style="color: rgb(0, 0, 0)" class="mb-3">Muchas gracias!</p>
                </div>
        </div>
    </section>
    
{% endblock contenido %}